*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
form{
    width: 100%;
    /* background-color: #8a2be2; */
    /* height: 200px; */
    margin-top: 50px;
    
    
}

form .container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-around;

}
form h2{
         font-size: 35px;
         line-height: 2.5;
         font-weight: 700;
         color: rgb(205,92,92);
}
label{
    align-self:flex-start;
    margin-left: 349px;
    font-size: 20px;
}
.style{
    width:380px;
    padding: 10px ;
    margin-bottom: 30px;
    outline: none;
}

.end{
    outline: none;
    border: 1px solid rgb(255,182,193);
    background-color: rgb(255,182,193);
    width:150px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.red{
    color: red;
    border: 1px solid red;
}
.errorr{

    text-align: center;
    margin-top: 50px;
    width: 100%;
    margin: auto;
}
.error{
    color:red;
}